APPLICATION_NAME=
GRPC_SERVER_PORT=

JWT_SECRET_KEY=
JWT_LIFETIME= #in hour

GRPC_EMAIL_MANAGER_ADDRESS=
GRPC_EMAIL_MANAGER_NEGOTIATION_TYPE=

GRPC_FLIGHTS_MANAGER_ADDRESS=
GRPC_FLIGHTS_MANAGER_NEGOTIATION_TYPE=

GRPC_PAYMENT_MANAGER_ADDRESS=
GRPC_PAYMENT_MANAGER_NEGOTIATION_TYPE=

GRPC_TICKET_BOOKING_MANAGER_ADDRESS=
GRPC_TICKET_BOOKING_MANAGER_NEGOTIATION_TYPE=

GRPC_USER_MANAGER_ADDRESS=
GRPC_USER_MANAGER_NEGOTIATION_TYPE=

##GRPC CLIENT PROPERTIES=
#GRPC_GENERIC_CLIENT_ADDRESS=
#GRPC_GENERIC_CLIENT_NEGOTIATION_TYPE=

